<!doctype html>
<html xmlns:th="https://thymeleaf.org" lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/basket.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

<section class="h-100 h-custom" style="background-color: #282828;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Order Preview</h1>
                                        <h6 class="mb-0 text-muted" th:text="${Items.size()} + ' items'"> </h6>
                                    </div>
                                    <div th:each="item : ${Items}">
                                    <hr class="my-4">
                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img   class="img-fluid rounded-3" alt="Event Picture"  th:src="@{${'images/' + item.event + '.jpg'}}"  >
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h6 class="text-muted" th:text="${item.event}"></h6>
                                            <h6 class="text-black mb-0" th:text="${item.ticket}"></h6>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <p th:text="' x' + ${item.quantity} + ' Ticket(s)'"><p>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1"  th:each=" ticket,iterStat :${tickets}" th:if="${item.ticket} == ${ticket.type}">
                                            <h6  class="mb-0"  th:text="'  &pound'+ ${ticket.price * item.quantity }"></h6>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                        </div>
                                    </div>
                                        </div>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between pt-5">
                                        <h6 class="mb-0"><a th:href="@{events}" class="text-body"><i
                                                class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a>
                                        </h6>

                                        <h6><a th:href="@{clear}" class="text-body"><i
                                                class="fas fa-long-arrow-alt-left me-2"></i>Clear Basket</a> </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase" th:text="${Items.size()} + ' items'"></h5>
                                        <h5 th:text="'&pound' + ${Tprice}"></h5>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Current Order:</h5>

                                    <div class="mb-4 pb-2" th:each="item :${Items}">
                                        <p th:text="' '+${item.event}" ></p>
                                        <p th:text="' x'+${item.quantity}+' '+${item.ticket}+' Ticket(s)'" ></p>
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5 th:text="'&pound' + ${Tprice}"></h5>
                                    </div>


                                    <a type="button" class="btn btn-dark btn-block btn-lg"
                                            data-mdb-ripple-color="dark" th:href="@{details}" >Pay Now</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>