* {
  margin: o;
  padding: 0;
}
html, body {
    margin: 0;
    height: 100%;
    background-color: #000000;
}
.section-1{
 position:fixed;
 width: 100%;
 height: 90px;
 background-color: #000000;
 z-index: 100;
 z-index:20;
}

.Logo{
   height: 150px;
   width: 150px;
   position:absolute;
   left: 100px;
   top: -30px;
   
}
.Insta{
   width: 30px;
   position:absolute;
   right: 70px;
}
.Youtube{
   width: 30px;
   position:absolute;
   right: 100px;
}
.Basket{
   width: 30px;
   position:absolute;
   right: 130px;
}

.topnav {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 80px;
  text-align: center;
  z-index:20;
  background-color: #FFFFFF;

}
.topnav ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 5%;
}

.topnav ul li{
  float:left;
}
.topnav ul li a {
  color: #000000;
  text-align: center;
  float:left;
  display: block; 
  padding: 12px 40px;
  font-weight: 525;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .3s linear;

}
.topnav ul li  a:hover{
  color: #FFD700;
  transition: all .3s linear; 
}
.topnav ul li ul {
  background-color: #FFFFFF;
  display: none;  
  position: absolute;
  margin-left:-0.25%;
  top:35px;
}
.topnav ul li ul li {
  float:none;
}
.topnav ul li:hover > ul{
  display: block;
}
.menu-button{
 position: fixed;
 top:20px;
 left:30px;
 justify-content: center;
 align-items: center;
 width: 50px;
 height:50px;
 display: flex;
 visibility: hidden;
 cursor: pointer;
 animation: fade-in 3s;
 animation-fill-mode: both;
 z-index:4;
}
.menu-button_burger{
  width:30px;
  height:4px;
  background: #FFFFFF;
  border-radius:3px;
  transition: all .5s ease-in-out;
  z-index: 5;
}
.menu-button_burger::before,
.menu-button_burger::after{
  position: absolute;
  content:'';
  width:30px;
  height:4px;
  background: #FFFFFF;
  border-radius:3px;
  transition: all .5s ease-in-out;
  z-index: 5;
}
.menu-button_burger::before{
 transform: translateY(-12px);
}
.menu-button_burger::after{
 transform: translateY(12px);
}

.menu-button.open .menu-button_burger{
  transform: translateX(-50px);
  background: transparent;
}
.menu-button.open .menu-button_burger::before{
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-button.open .menu-button_burger::after{
  transform: rotate(-45deg) translate(35px, 35px);
}
.menu-button.open .menu{
  visibility: visible;
}
.menu-button.open .menu > div{
 opacity: 1;
 transition: opacity 0.8s ease;
}
.menu-button.open .menu > div > div{
 opacity: 1;
 transition: opacity 0.8s ease;
}

.menu-button .menu{
  position: fixed;
  top:0;
  left:-40px;
  width:50%;
  height:100%;
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  visibility:hidden;
  transition: visibility 1s ease;
  z-index: 3;
}

.menu-button .menu > div{
 background:#000000;
 width:100%;
 height:200vh;
 display: flex;
 flex:none;
 align-items:center;
 justify-content:center;
 opacity:0;
 transition: opacity 1s ease;
 z-index: 3;
}
.menu-button .menu > div > div{
 text-align:center;
 max-width:100%;
 max-height:100vh;
 opacity:0;
 transition: opacity 1s ease;
}


.menu-button .menu > div > div > ul > li{
  list-style: none;
  color: #FFFFFF;
  font-size:1.15rem;
  padding:1.5rem;
}
.menu-button .menu > div > div > ul > li > a{
  color: #FFFFFF;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.4s ease;
}
.menu-button .menu > div > div > ul > li > a:hover{
  color: #FFD700;
  transition: all .3s linear; 
}
.menu-button .menu > div > div > ul > li > ul > li{
   display: none;
   list-style: none;
  color: #FFFFFF;
  font-size:0.75rem;
  padding: 1rem;

}
.menu-button .menu > div > div > ul > li > ul > li > a{
  color: #FFFFFF;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.4s ease;

}
.outside{
 width: 100%;
 height: 2000px;
 background-color: #333333;
 position: absolute;
 top: 120px;
 display: flex;
 justify-content: center;
 z-index: 1;
 animation: fade-in 3s;
 animation-delay: 5s;
 animation-fill-mode: both;
}
.blog{ 
 width: 55%;
 height: 2000px;
 background-color:#282828;
 position:relative;
 z-index: 1;
 animation: fade-in 3s;
 animation-delay: 5s;
 animation-fill-mode: both;
 justify-content: center;

}

h1{
  position: absolute;
  top: -15px;
  left: 70px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-weight:normal;

}
.item{
  position: relative;
  top: 50px;
  left: 0px;
  margin: 20px 7px;
  width: 98%;
  height: 250px;
  text-align: left;
  
  border-radius: 5px;
  border: none;
  background-color: #333333;

}
.flyer{
  position: relatice;
  top: 50px;
  width: 150px;
  height: 250px;
}

.tarea{
 position: absolute;
 top: 50px;
 left: 15px;
 width: 98%;
 height:990px;
 overflow:scroll;
}
table{
 background-color: #FFFFFF;
 width:100%;
 position: absolute;
}
th{ 
   border: 3px solid black;

 background-color: #000000;
 color:#FFFFFF;
}
tr > td{
  height: 280px;
  padding: 15px;
  text-align: center;
   border-bottom-style: solid;
}
.checkout{
 position: absolute;
 top: 1000px;
}
.checkout pre{
 position: relative;
 left:100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
  color: #FFFFFF;
  font-weight:normal;

}
.checkout input[type=button] { 
  position: relative;
  left:  100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17.5px;
  cursor: pointer;
 width: 200px;
  height:30px;
   color: #FFFFFF;
   background-color: #000000;
     border: 1px solid white;


}
.checkbutton{
  position:relative;
  left: 720px;
  top: -30px;
  width: 200px;
  height:30px;
  background-color: #000000;
  border: 1px solid white;

}
.checkbutton pre{
  font-family: Arial, Helvetica, sans-serif;
  font-size:17.5px;
   position:relative;
   top:-12px;
  left:40px;  
}
@media only screen and (max-width: 1080px) {

.topnav{
  display: none;
}
.menu-button{
 visibility:visible;
}
.menu-button .menu{
  width:50%;
}

.Insta{
   width: 30px;
   position:absolute;
   right: 10px;
}
.Youtube{
   width: 30px;
   position:absolute;
   right: 40px;
}
.Basket{
   width: 30px;
   position:absolute;
   right: 70px;
}
.outside{
 height: 1000px;
}
.blog{
 height:1000px;
 width: 100%;
 left: 0px;

}
h1{
  left: 30px;
}

.flyer{
  position: relatice;
  top: 50px;
  width: 100px;
  height: 170px;
}

.tarea{
 position: absolute;
 top: 50px;
 left: 0px;
 width: 100%;
 background-color: #333333;
 height:700px;
 overflow:scroll;
}
table{
 font-size: 12px;
 width:100%;
 position: absolute;
 font-family: Arial, Helvetica, sans-serif;
}
th{ 
   border: 3px solid black;

 background-color: #000000;
 color:#FFFFFF;
}
tr > td{
  height: 280px;
  padding: 15px;
  text-align: center;
   border-bottom-style: solid;
}
.checkout{
 position: absolute;
 top: 750px;
}

.checkout pre{
 position: relative;
 left:325px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17.5px;
  color: #FFFFFF;
  font-weight:normal;

}
.checkout input[type=button] { 
  position: relative;
  left:  325px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12.5px;
  cursor: pointer;
 width: 100px;
  height:30px;
   color: #FFFFFF;
   background-color: #000000;
     border: 1px solid white;


}
.checkbutton{
  position:relative;
  left: 655px;
  top: -30px;
  width: 100px;
  height:30px;
  background-color: #000000;
  border: 1px solid white;

}
.checkbutton pre{
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
   position:relative;
   top:-5px;
  left:10px;  
}

}


@media only screen and (max-width: 736px) {

.topnav{
  display: none;
}
.menu-button{
 visibility:visible;
}
.menu-button .menu{
  width:80%;
}

.Insta{
   width: 30px;
   position:absolute;
   right: 10px;
}
.Youtube{
   width: 30px;
   position:absolute;
   right: 40px;
}
.Basket{
   width: 30px;
   position:absolute;
   right: 70px;
}
.outside{
 height: 1000px;
}
.blog{
 height:1000px;
 width: 100%;
 left: 0px;

}
h1{
  left: 30px;
}

.flyer{
  position: relatice;
  top: 50px;
  width: 100px;
  height: 170px;
}

.tarea{
 position: absolute;
 top: 50px;
 left: 0px;
 width: 100%;
 background-color: #333333;
 height:700px;
 overflow:scroll;
}
table{
 font-size: 12px;
 width:100%;
 position: absolute;
 font-family: Arial, Helvetica, sans-serif;
}
th{ 
   border: 3px solid black;

 background-color: #000000;
 color:#FFFFFF;
}
tr > td{
  height: 280px;
  padding: 15px;
  text-align: center;
   border-bottom-style: solid;
}
.checkout{
 position: absolute;
 top: 750px;
}

.checkout pre{
 position: relative;
 left:24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12.5px;
  color: #FFFFFF;
  font-weight:normal;

}
.checkout input[type=button] { 
  position: relative;
  left:  24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12.5px;
  cursor: pointer;
 width: 100px;
  height:30px;
   color: #FFFFFF;
   background-color: #000000;
     border: 1px solid white;


}
.checkbutton{
  position:relative;
  left: 250px;
  top: -30px;
  width: 100px;
  height:30px;
  background-color: #000000;
  border: 1px solid white;

}
.checkbutton pre{
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
   position:relative;
   top:-5px;
  left:10px;  
}

}

@media only screen and (max-width: 375px) {

.topnav{
  display: none;
}
.menu-button{
 visibility:visible;
}
.menu-button .menu{
  width:80%;
}

.Insta{
   width: 30px;
   position:absolute;
   right: 10px;
}
.Youtube{
   width: 30px;
   position:absolute;
   right: 40px;
}
.Basket{
   width: 30px;
   position:absolute;
   right: 70px;
}
.outside{
 height: 1000px;
}
.blog{
 height:1000px;
 width: 100%;
 left: 0px;

}
h1{
  left: 30px;
}

.flyer{
  position: relatice;
  top: 50px;
  width: 100px;
  height: 170px;
}

.tarea{
 position: absolute;
 top: 50px;
 left: 0px;
 width: 100%;
 background-color: #333333;
 height:700px;
 overflow:scroll;
}
table{
 font-size: 12px;
 width:100%;
 position: absolute;
 font-family: Arial, Helvetica, sans-serif;
}
th{ 
   border: 3px solid black;

 background-color: #000000;
 color:#FFFFFF;
}
tr > td{
  height: 280px;
  padding: 15px;
  text-align: center;
   border-bottom-style: solid;
}
.checkout{
 position: absolute;
 top: 750px;
}

.checkout pre{
 position: relative;
 left:24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12.5px;
  color: #FFFFFF;
  font-weight:normal;

}
.checkout input[type=button] { 
  position: relative;
  left:  24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12.5px;
  cursor: pointer;
 width: 100px;
  height:30px;
   color: #FFFFFF;
   background-color: #000000;
     border: 1px solid white;


}
.checkbutton{
  position:relative;
  left: 250px;
  top: -30px;
  width: 100px;
  height:30px;
  background-color: #000000;
  border: 1px solid white;

}
.checkbutton pre{
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
   position:relative;
   top:-5px;
  left:10px;  
}

}

